.card{
    display: flex;
    font-size: 14px;
     
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        margin: 10px;
        
}
.papper{
    width: 1150px;
    margin: 0 auto;
    background-color: rgb(200, 209, 218);
}
.player{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        margin: 10px;
        height: 500px;
}
.descript, .title{
    margin: 20px 10px;
}
.card img {
    width: 100px;
    height: 60px;
    margin: 10px;
}

.App {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
